<%= form_for(@captcha) do |f| %>
  <% if @captcha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@captcha.errors.count, "error") %> prohibited this captcha from being saved:</h2>

      <ul>
      <% @captcha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
